.header {
  background-color: var(--header-background);
  border-bottom: 1px solid var(--border-color);
}
nav {
  height: 60px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
}
.logoAndtext {
  display: flex;
  align-items: center;
  /* margin-right: 10px; */
}
.logoAndtext > h4 {
  margin-bottom: 6px; /* align-item center is fully center so i added this */
  margin-left: 5px;
  font-size: 1.2rem;
  font-weight: 200;
  color: var(--primary-text-color);
  letter-spacing: 2px;
}
.logoAndtext span {
  font-weight: 500;
  color: var(--accent-color);
}
img {
  width: 40px;
}
a:hover {
  background-color: transparent;
}
.navbarLinkContainer {
  /* margin-right: 150px; Horizontally center nav links with search bar */
  /* margin-right: 10px; */
  /* margin: auto; */
}
#navbar {
  /* displays and aligns <ul> content horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  position: relative;
  padding: 0 20px;
}
#navbar a {
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-text-color);
}
#navbar a:hover {
  color: var(--accent-color);
  transition: 0.3s ease-in-out;
}
.toggle-comp {
    align-items: center;
    margin-left: 75px;
}
#mobile {
  display: none;
}
@media screen and (max-width: 769px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 60px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: black;
    transition: 0.3s ease-in-out;
  }
  #navbar.active {
    right: 0;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: block;
  }
  #mobile:hover {
    cursor: pointer;
  }
}
/* .header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: right;
}

.header h1 {
    margin: 0;
    font-size: 2em;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav ul {
    list-style: none;
    padding: 0;
}

.header nav ul li {
    display: inline;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 20px 28.5px 20px 28.5px;
}

.header nav ul li a:hover {
    text-decoration: none;
    color: black;
    background-color: lightgoldenrodyellow;
}

.header nav img {
    height: 40px;
    display: block;
    padding: 3px;
    background-color: black;
    border: 1px solid lightgoldenrodyellow;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.header nav .nav-links {
    align-items: center;
}

.header nav .nav-logo {
    align-items: center;
}

.header nav .nav-logo a {
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 0;
}

.header nav .nav-logo a:hover {
    text-decoration: none;
    
} */
