.courseDetailsPage {
  display: flex;
  gap: 20px;
}
.submitReviewOutline {
  /* Align vertically and center */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  font-size: 1.1rem;
  color: var(--primary-text-color);
  background-color: var(--card-background);
  border-radius: 10px;
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.25),
    0px 0px 2.9px rgba(0, 0, 0, 0.22);
  width: 300px;
  margin: 70px 10px 20px 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}
/*Select box start*/
.selectContainer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 150px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.selectBox {
  appearance: none;
  padding: 0 30px 0 15px;
  width: 100%;
  color: white;
  background-color: var(--card-background);
  text-align: center;
  border-radius: 20px;
  outline: none;
}
.selectBox option {
  text-align: center;
}
#favColor:hover {
  cursor: pointer;
}
.selectContainer .selectSerachIconContainer {
  width: 25px;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  font-size: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.selectSearchIconContainer i {
  font-size: 30px;
  color: black;
}
/*Select box end*/

.submitReviewOutline input {
  width: 75px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--primary-text-color);
  font-size: 1rem;
  margin-bottom: 20px;
}

.starReviewContainer {
  margin-bottom: 10px;
}
.starReviewContainer span:hover {
  cursor: pointer;
}

.submitReviewOutline button {
  /*General style for the buttons*/
  border: none;
  border-radius: 15px;
  padding: 10px 5px;
  margin: 5px 10px;
  width: 120px;
  font-weight: 600;
  display: block;
}
.submitReviewOutline button:hover {
  border: 2px solid black;
}
#submit {
  /*Accent color for the submit button*/
  background-color: var(--accent-color);
}
.courseInfo {
  margin-left: 15px;
}
.courseName {
  font-size: 2.2rem;
  color: var(--primary-text-color);
  padding-bottom: 20px;
}
.courseCode {
  color: var(--secondary-text-color);
  padding-bottom: 10px;
}
.reviewDetails {
  /*main div for the review info*/
  display: flex;
  gap: 50px;
  color: var(--primary-text-color);
  background-color: var(--card-background);
  border-radius: 10px;
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.25),
    0px 0px 2.9px rgba(0, 0, 0, 0.22);
  padding: 25px 15px;
  max-width: 900px;
  margin-left: 10px;
}
.reviewGradeStat {
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 25px;
}
.reviewGradeStat h3 {
  font-weight: 500;
}
.reviewGradeStat h4 {
  font-size: 2rem;
}
.starReviewsAndWrittenReview {
  /*Div for the titles listed below and the written review details*/
  max-width: 700px;
}
.starReviews {
  /*Titles for Overall rating, workload, complexity, organization*/
  display: flex;
  gap: 35px;
  justify-content: space-between;
}
.starIcon {
  /*Adjust color of the star*/
  font-size: 2rem;
  color: var(--accent-color);
}
.writtenReviews {
  /*Adjust div containing all written review details*/
  margin-top: 30px;
  background-color: #333333;
  padding: 10px 20px;
  border-radius: 10px;
}
.writtenReviewDetails {
  /*Div containing user name, written review, upvote/downvote*/
  margin-bottom: 20px;
  position: relative;
}
.writtenReviewDetails > h5 {
  /*Adjust user name*/
  font-weight: 800;
  font-size: 0.9rem;
}

.writtenReviewDetails > p {
  /*Adjust review content*/
  font-size: 1rem;
}

.writtenReviewDetails > span {
  /*delete review icon*/
  cursor: pointer;
  position: absolute;
  left: 95%;
  top: 0%;
}

/**/
/* .btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
}
 */
.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #1f1f1f;
  border-radius: 3px;
  width: 600px;
  height: 300px;
}
.modalHeader {
  background-color: #1f1f1f;
  position: relative;
  height: 10%; /* 10% for the header within modal-content container */
  width: 100%;
}
.close-modal {
  position: absolute; /*Relative to modalHeader  */
  top: 15%;
  left: 95%;
}
.close-modal:hover {
  cursor: pointer;
}
textarea {
  background-color: var(--card-background);
  border: none;
  width: 98%;
  height: 88%; /* 90% for the body within modal-content container */
  outline: none;
  resize: none;
  color: white;
  text-indent: 10px;
  padding: 5px;
  font-size: 0.95rem;
  font-weight: 600;
}
